
/* general */



@font-face {
  font-family: cheltenham;
  src:url(fonts/cheltenham.otf);
}

*{
	box-sizing: border-box;
}

html{
	font-family: georgia, serif;
	
}

h1{
font-size: 2.2rem;
line-height: 3rem;
font-weight: 100;
letter-spacing: .5px;
width: 600px;
height: 95px;
margin:auto;
font-family: cheltenham;
}

h2{
	font-size: 1.35rem;
	font-weight: 700;
	
}

h3{
	font-size: 16px;
	color: #333;
	font-weight:700;	
}



.content p{
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.87rem;
	max-width: 100%;
	color: #333;
	margin: 15px auto;
	font-family: Georgia, serif;
}


/* Icons */
.menu_icon, .search_icon{
  width:16px;
  height: 16px;
}

.logo_icon {
  width:195px;
  height: 26px;
}

.drop_icon {
  width: 14px;
  height: 12px;
  position: relative;
  top: 5px;
}

.facebook_icon {
  width: 7px;
  height: 15px;
}

.twitter_icon {
  width: 13px;
  height: 10px;
}

.mail_icon {
  width: 15px;
  height: 9px;
}

.share_icon {
  width: 15px;
  height: 15px;
}

.pennant_icon {
  width: 16px;
  height: 25px;
}

.delivery_icon {
  width: 13px;
  height: 13px;
}

.digital_icon{
  width: 13px;
  height: 13px;
}


.crossroad_icon {
  width: 13px;
  height: 13px;
}

.cooking_icon{
  width: 13px;
  height: 13px;
}

/* navbar */

nav {
  border-bottom: 1px solid  #E2E2E2;
  display: flex;
  justify-content: space-between;
  padding: 10px 19px 3px 19px;

}



.menu_icon {
  margin-right: 20px;
}

.section {
  font-size: 14.25px;
  font-weight: 700;
  margin-left: 20px;
}

.subscribe_btn {
  display: inline-block;
  /*width: 95px;*/
  background-color: #326891;
  color: white;
  padding: 12px 8px;
  font-size: 11px;
  font-weight: 700;
  border-radius: 2px;
  position: relative;
  bottom: 3px;
  margin-right: 10px;
}

.account {
font-size: 11px;
font-weight: 500;
letter-spacing: .22px;
}



.main_picture{
  margin:50px;
  width: 945px;
  margin:auto;
}
.main_picture img {
width:100%;
}

.main_picture figcaption{
  font-size: .9rem;
  line-height: 1.25;
  color:#666;
  max-width: 720px;
}

/* media links */
.data .author {
  font-size: 15px;
  font-weight: 700;
}

.data {
width: 620px;
margin: auto;
margin-top: 50px;
font-size: 12px;
margin-bottom: 50px;
}

.align{
  display:flex;
  justify-content: space-between;
  align-items: center;
	
}

.wrapper_data {
  
  margin-top: 20px;
}


 .media{
  display: flex;
  width: 150px;
  height: 43px;
  align-items: center;
  
 
}


.media .circle{
 
 background: #eee;
 width: 27px; 
 height: 27px;
 margin: 3px;
 display: flex;
 justify-content:center;
 align-items: center;	
 border-radius: 100%;
 box-sizing: border-box;
 
}


.media  div.circle:hover {

 background: white;
 border: solid 1px #ccc;
}

.tag_icons div.pennant:hover {

	
	
}

.tag_icons{
	width: 70px;
	display: flex;
	margin-left: 10px;
	justify-content: space-between;
}


.tag_icons .counter {
	
	border: solid 1px;
	width: 36px;
	height: 24px;
	display: flex;
	justify-content: center;
	 border-radius: 4px;
	 margin-bottom: 2px;
}


.counter .number{
	position: relative;
	top: 10px;
	font-family: courier;
}



 .tag_icons div.counter::after{
display: block;
position: relative;
top: 25px;
right: 14px;
width: 0;
height: 0;
border-top: black solid 3px;
border-right: solid 5px;
border-left: solid transparent 5px;
border-bottom: solid transparent 3px;
content: "";
}


 .tag_icons div.counter::before{
display: block;
position: relative;
top: 23px;
left: 15.5px;
width: 0;
height: 0;
border-top:  solid  white 3px;
border-right: solid white 5px;
border-left: solid transparent 5px;
border-bottom: solid transparent 3px;
content: "";
z-index: 1;
}

/* Main Content */

.content {
	width: 620px;
	margin: auto;
	
}



figure.inflation_theory{
	width: 945px;
	margin: auto;
	font-size: .815rem;
	line-height: 1.125rem;

	
}

.wrapper_inflation_theory{
	background-image: url(images/inflation_theory.png);
	background-repeat: no-repeat; 
	background-position: 0% 0%;
	background-size: contain;
	width: 100%; 
	height: 596px;
	margin: auto;
	display: block;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
}


.dummy_figure{
	height: 150px;
	
}

figure.inflation_theory figcaption{
	margin-top:50px;
	color: #333;
	font-weight:500;
	font-size: .875rem;
	
	
}

figure.inflation_theory figcaption::before{
	display: block;
	width: 70px; 
	height:1 px;
	border-top: solid.5px;
	content: "";
	position: relative;
	bottom: 15px;
}

figure.bicep2_telescop{
	width: 620px;
	margin: auto;
	font-size: .815rem;
	line-height: 1.125rem;
	
}


figure.bicep2_telescop img{
	width: 100%;
	margin: auto;
}

figure.bicep2_telescop figcaption {
	color: #666;
	font-size: 13px;
	line-height: 18px;
	
}

/* aside */

.article_footer  p{
	font-size: .8rem;
	line-height:1rem;
	color: #666;
}

.article_footer span{
	text-decoration: underline;
	margin: auto 2px;
}

.article_footer p span:nth-child(2){
	border-left: solid 1px;
	border-right: solid 1px;
	padding-left:4px;
	padding-right: 4px;
}

.article_footer p span.nth-child(2)::hover{
decoration: none;
}

.aside_wrapper{
	display: flex;
	justify-content: space-between;
	align-items:center;
}


.read_comments{
	
	width: 330px; 
	height: 36px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	background: #326891;
	color: white;
	border-radius: 3px;
}

.read_comments span {
	text-decoration: none;
}

/* featured section */

.featured{ 
width: 100%;
display:flex;
padding:50px 3%; 
}

.featured_left{
	width:66.66%;	
}

.featured_right{
	width: 33.33%;	
}

.more_wrapper{
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 18px;
	justify-content:space-between;  
	margin-top: 20px; 
}


.more_wrapper div:nth-child(3n+2){
	margin: 0 auto 0 auto;
}



.related_articles img{
	width: 100%;;
}


.featured h3{
	padding:20px 0 0; 
	margin-top: 20px;
	border-top: 1px solid;
	color: black;
}

.featured figcaption{
	color: #999; 
	display: flex; 
	justify-content: right; 
	font-size: .625rem;
	margin: 5px auto; 
}

.featured .description{
	font-size: 1.125rem;
	line-height: 22px;
}

.featured .date{
	font-size: 12px;
	color: #999;
	letter-spacing: 0.3px; 
	margin-top: 2px; 
}

.picks_wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-top: 20px;
}

.picks_wrapper img {
	width: 100%;
}


.most_popular{
	margin-left: 30px;
	max-width: 315px;
}

.most_popular_wrapper{
	margin-top: 20px; 
	font-size: 1.18rem;
	line-height: 1.43rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}

.most_popular p{
	border-top: 1px solid  #E2E2E2;
	padding-top: 10px;
	padding-bottom: 10px;
}

